@import '../../styles/colors.scss';

.form-submit__button {
  padding: 34px 120px;
  max-width: 347px;
  max-height: 80px;
  border-radius: 40px 5px;
  background-image: linear-gradient(to right, $formButton1 0%, $formButton2 100%);
  color: $white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;

  &:hover {
    background-image: linear-gradient(to right, $formButton1 0%, $formButton2 100%);
  }
}